<?xml version="1.0"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
  backupGlobals="true"
  bootstrap="Tests/FunctionalTestsBootstrap.php"
  cacheResult="false"
  colors="true"
  convertErrorsToExceptions="true"
  convertWarningsToExceptions="true"
  forceCoversAnnotation="false"
  stopOnError="false"
  stopOnFailure="false"
  stopOnIncomplete="false"
  stopOnSkipped="false"
  verbose="false"
  beStrictAboutTestsThatDoNotTestAnything="false"
  failOnWarning="true"
  executionOrder="random"
  processIsolation="true"
>
  <coverage>
    <report>
      <clover outputFile="var/coverage.xml"/>
      <html outputDirectory="var/test-coverage/"/>
    </report>
  </coverage>
  <php>
    <const name="TYPO3" value="1"/>
    <const name="TYPO3_MODE" value="BE"/>
    <ini name="display_errors" value="1"/>
    <env name="TYPO3_CONTEXT" value="Testing"/>
    <env name="typo3DatabaseName" value="typo3_test"/>
    <env name="typo3DatabaseHost" value="127.0.0.1"/>
    <env name="typo3DatabaseUsername" value="root"/>
    <env name="typo3DatabasePassword" value="root"/>
    <env name="typo3DatabasePort" value="3306"/>
    <env name="TYPO3_PATH_WEB" value=".Build/Web"/>
  </php>
  <testsuites>
    <testsuite name="Functional">
      <directory>Tests/Functional/</directory>
    </testsuite>
  </testsuites>
  <logging>
    <junit outputFile="var/functional-tests.xml"/>
  </logging>
</phpunit>
