{namespace mailLogger=Pluswerk\MailLogger\ViewHelpers}

<div class="col col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading"><mailLogger:translate id="module.mailLog.title"/><span class="t3-icon fa fa-chevron-down col-toggle"> </span></div>
    <div class="maillogger-panel-body table-fit">
      <f:be.widget.paginate objects="{mailLogs}" as="paginatedMailLogs" configuration="{itemsPerPage: 10, insertAbove: 1, insertBelow: 1, maximumNumberOfLinks: 5}">
        <table  class="maillogger-task-list table table-striped table-hover">
          <thead>
          <tr>
            <th><mailLogger:translate id="module.mailLog.tstamp"/></th>
            <th><mailLogger:translate id="module.mailLog.typoScriptKey"/></th>
            <th><mailLogger:translate id="module.mailLog.subject"/></th>
            <th><mailLogger:translate id="module.mailLog.mailTo"/></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <f:for each="{paginatedMailLogs}" as="mailLog">
            <tr>
              <td><f:format.date format="Y-m-d H:i:s">{mailLog.tstamp}</f:format.date></td>
              <td>{mailLog.typoScriptKey}</td>
              <td>{mailLog.subject}</td>
              <td>{mailLog.mailTo}</td>
              <td><f:link.action action="show" controller="MailLog" arguments="{mailLog : mailLog}" class="btn btn-default maillogger-open-modal"><mailLogger:translate id="module.mailLog.details"/></f:link.action></td>
            </tr>
          </f:for>
          </tbody>
        </table>
      </f:be.widget.paginate>
    </div>
  </div>
</div>
