{namespace mailLogger=Pluswerk\MailLogger\ViewHelpers}

<f:if condition="{paginator.numberOfPages} >= 1">
  <nav aria-label="pagebrowser">
    <h4>Page {paginator.currentPageNumber} of {paginator.numberOfPages}</h4>
    <ul class="f3-widget-paginator pagination">
      <f:if condition="{pagination.previousPageNumber} && {pagination.previousPageNumber} >= {pagination.firstPageNumber}">
        <li class="first">
          <a href="{mailLogger:pagination.uri(arguments:'{currentPage:pagination.firstPageNumber}',name:name)}" title="first" class="page-link">
            |<
          </a>
        </li>
        <li class="previous">
          <a href="{mailLogger:pagination.uri(arguments:'{currentPage:pagination.previousPageNumber}',name:name)}" title="previous" class="page-link">
            &lt;<
          </a>
        </li>
      </f:if>
      <f:if condition="{pagination.hasLessPages}">
        <li class="page-item">…</li>
      </f:if>
      <f:for each="{pagination.allPageNumbers}" as="page">
        <f:if condition="{page} == {paginator.currentPageNumber}">
          <f:then>
            <li class="page-item current active">
              <span class="page-link">{page}</span>
            </li>
          </f:then>
          <f:else>
            <f:variable name="hiddenClass" value=""/>
            <f:if condition="{page + 5} < {paginator.currentPageNumber} || {page - 5} > {paginator.currentPageNumber}">
              <f:then>
                <f:variable name="hiddenClass" value=" hidden"/>
              </f:then>
            </f:if>
            <li class="page-item">
              <a href="{mailLogger:pagination.uri(arguments:'{currentPage:page}',name:name)}" class="page-link{hiddenClass}">{page}</a>
            </li>
          </f:else>
        </f:if>
      </f:for>
      <f:if condition="{pagination.hasMorePages}">
        <li class="page-item">…</li>
      </f:if>
      <f:if condition="{pagination.nextPageNumber} && {pagination.nextPageNumber} <= {pagination.lastPageNumber}">
        <li class="next">
          <a href="{mailLogger:pagination.uri(arguments:'{currentPage:pagination.nextPageNumber}',name:name)}" title="next" class="page-link">
            &gt;>
          </a>
        </li>
        <li class="last">
          <a href="{mailLogger:pagination.uri(arguments:'{currentPage:pagination.lastPageNumber}',name:name)}" title="last" class="page-link">
            &gt;|
          </a>
        </li>
      </f:if>
    </ul>
  </nav>
</f:if>
