{namespace mailLogger=Pluswerk\MailLogger\ViewHelpers}

<h1><mailLogger:translate id="module.mailLog.title.singleLog"/></h1>

<f:flashMessages />

<div class="row">
  <div class="col col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading"><mailLogger:translate id="module.mailLog.title.fromTo"/><span class="t3-icon fa fa-chevron-down col-toggle"> </span></div>
      <div class="panel-body maillogger-panel-body">
        <mailLogger:translate id="module.mailLog.mailFrom"/>: {mailLog.mailFrom}<br />
        <mailLogger:translate id="module.mailLog.mailTo"/>: {mailLog.mailTo}<br />
        <f:if condition="{mailLog.mailCopy}">
          <mailLogger:translate id="module.mailLog.mailCopy"/>: {mailLog.mailCopy}<br />
        </f:if>
        <f:if condition="{mailLog.mailBlindCopy}">
          <mailLogger:translate id="module.mailLog.mailBlindCopy"/>: {mailLog.mailBlindCopy}<br />
        </f:if>
      </div>
    </div>
  </div>

  <div class="col col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading"><mailLogger:translate id="module.mailLog.title.info"/><span class="t3-icon fa fa-chevron-down col-toggle"> </span></div>
      <div class="panel-body maillogger-panel-body">
        <mailLogger:translate id="module.mailLog.subject"/>: {mailLog.subject}<br />
        <f:if condition="{mailLog.typoScriptKey}">
          <mailLogger:translate id="module.mailLog.typoScriptKey"/>: {mailLog.typoScriptKey}<br />
        </f:if>
        <mailLogger:translate id="module.mailLog.sysLanguageUid"/>: <mailLogger:sysLanguageUid uid="{mailLog.sysLanguageUid}" /><br />
        <mailLogger:translate id="module.mailLog.result"/>: {mailLog.result}<br />
        <mailLogger:translate id="module.mailLog.tstamp"/>: <f:format.date format="d.m.Y H:i:s">{mailLog.tstamp}</f:format.date><br />
      </div>
    </div>
  </div>

  <div class="col col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading"><mailLogger:translate id="module.mailLog.title.message"/><span class="t3-icon fa fa-chevron-down col-toggle"> </span></div>
      <div class="panel-body maillogger-panel-body">
        <iframe class="iframe-content" data-content=".mailLog-message" src="about:blank" style="height: 200px; width: 100%;" frameborder="0" seamless></iframe>
        <div class="hidden mailLog-message">
          <f:if condition="{mailLogger:isPlainTextMailLog(mailLog: '{mailLog}')}">
            <f:then>
              <f:format.nl2br>{mailLog.message}</f:format.nl2br>
            </f:then>
            <f:else>
              <f:format.raw>{mailLog.message}</f:format.raw>
            </f:else>
          </f:if>
        </div>
      </div>
    </div>
  </div>


  <div class="col col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading"><mailLogger:translate id="module.mailLog.title.headers"/><span class="t3-icon fa fa-chevron-down col-toggle"> </span></div>
      <div class="panel-body maillogger-panel-body maillogger-hidden" style="display: none;">
        <f:format.nl2br>{mailLog.headers}</f:format.nl2br>
      </div>
    </div>
  </div>

</div>
